
   *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
   }
    body{
      position: relative;
      height: 100vh;
      background: #FFFFFF;
      align-items: center;
      justify-content: center;
      
      }
      
   
    .container{
     margin:20px auto;
      padding:9rem;
      
    }
    .card{
      position: relative;
    }
    .card1{
      background-color: hsl(31, 77%, 52%);
    }
    .card2{
      background-color:hsl(184, 100%, 22%);
       
    }
    .card3{
      background-color:hsl(179, 100%, 13%);
    }
    .card-title{
      font-family:BigShouldersDay;
      font-weight: 700;
      margin-top: 1rem;
      color:hsl(0, 0%, 95%);
      margin-left: 1.5rem;
    }
    .card-text{
      font-family: Lexend Deca;
      width:12rem;
      margin-top: 2rem;
      margin-left: 1.5rem;
      font-size: 15px;
      color:hsla(0, 0%, 100%, 0.75);
    }
    .card{
      height:30rem;
      border-radius: 0rem;
    }
    .icons{
      margin-top: 2.7rem;
      margin-left:2.5rem;
    }
    .btn{
      margin-top: 3rem;
      margin-left:1.2rem;
      border-radius: 12rem;
      width:9rem;
      height:2.5rem;
      font-size: 1.2rem;
    }
    .btn1{
      color:hsl(31, 77%, 52%);
    }
    .btn2{
      color:hsl(184, 100%, 22%);
    }
    .btn3{
      color:hsl(179, 100%, 13%);
    }

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    

    @media screen and (max-width:1200px)
    {
      .container{
        padding-left:13rem !important;
      }
    }
    
    @media screen and (max-width:992px)
    {
      .container{
        padding-left:14.5rem !important;
      }
    }
    @media screen and (max-width:768px)
    {
      .container{
        padding-left:9.5rem !important;
      }
    }
  
    @media screen and (max-width:426px)
    {
      .container{  
        
        padding:5.5rem !important;
      }
    }
    @media screen and (max-width:376px)
    {
      .container{  
        
        padding:3.6rem !important;
      }
    }
    @media screen and (max-width:321px)
    {
      .container{  
        
        padding:2rem !important;
      }
    }
    